.body{
    
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      
}
.orders {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    flex-direction: column;
    align-items: center;
    line-height: 1.42857143;
    color: #424553;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    

}
.emptycart{
   
    
   
   width: 100px; /* Set the width of the image */
 
}
.orders > h1{
    color: #030303;
    font-size: medium;
}

.orders>h3{
    color: #424553;
    font-size: small;
}



.noorder{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 400px;
    text-align: center;
}

.iconed{
    position: sticky;
    color: #0e0e0e; /* Set the color to blue */
  cursor: pointer;
 /* Adjust the left distance as needed */
  color: #030303; /* Set the color to blue */
  cursor: pointer;
  
   /* Adjust the top distance as needed */
  
  width: 25px; 
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.addcart{
    background:	#e59b24 ;
    border: 8px solid black;
    margin-top: 10px;
    border-color: 	#e59b24;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    padding: 10px 20px;
    
}

.special-word{
    color: green;
}
.secure{
    position: relative;
      width: 40px; /* Set the width of the container */
      
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-50%, 0); /* Optional: Center the image within the top-right corner */
      padding: 10px;
      margin: 0;
      bottom: 0;
  
      
}

  